@font-face {
  font-family: 'f';
  src: url('http://langyawangchao.github.io/fonts/gangbiziti.ttf'), url('http://langyawangchao.github.io/fonts/gangbiziti.otf'), url('http://langyawangchao.github.io/fonts/gangbiziti.woff'), url('http://langyawangchao.github.io/fonts/gangbiziti.svg');
}
body {
	background: url("article.jpg")
	font-family:f;
}
h1 {
	text-align: center;
	font-family:f;
}
h2 {
	text-align: center;
	font-family:f;
}
h3 {
	text-indent: 32px;
	font-size: 16px;
	font-family:f;
}
h4 {
	text-indent: 32px;
	font-size: 16px;
	font-family:f;
}
p {
	text-indent: 32px;
	font-size: 16px;
	line-height: 32px;
	font-family:f;
}
