h1 {
  text-align: center;
  color:#191970;
  font-family:楷体;
}
h2 {
  text-align: center;
  color:#191970;
  font-family:仿宋;
}
h3 {
  text-align: center;
  color:#191970;
  font-family:仿宋;
}
h4 {
  text-align: center;
  color:#191970;
  font-family:仿宋;
}
a {
  text-align: center;
  color:#191970;
  font-family:仿宋;
}
p {
  text-align: center;
  color:#191970;
  font-family:仿宋;
}
